body,html{
    background-image: url(../img/perro.jpg);
    font-family: 'Righteous';
    font-size:0.875em;
    height:100%;
    padding:0px;
    margin:0px;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.c{
    /*background-image:url(../img/fondoMenu.gif);este es el fondo del menu*/
    background-image:url(../img/gatoo.jpg);
    
    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    border: 3px solid #0813d6;
    background-repeat: no-repeat;
    color: black;
    position:fixed;
    top:120px;
    bottom:80px;
    left:25%;
    right:25%;
    display:none;
    z-index:10;


        background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    }




.a,.b{
    display:inline-block;
    width:33.33%;
    height:100%;
    float:left;
    z-index:1;
    }

.d{
    height:10%;
    width:100%;
    position:fixed;
    bottom:0px;
    }

#nave{
    text-align:center;
    position:fixed;
    top:10%;
    width:100%;
    height:20%;
    z-index:4;
    }

#nave img{
    height:100%;
    }

#feliz{
    text-align:center;
    position:fixed;
    top:10%;
    width:100%;
    height:20%;
    z-index:4;
    display:none;
    }

#felizImg{
    height:100%;
    }

#opc{
    position:fixed;
    width:100%;
    height:10%;
    display:block;
    }

#opcImg{
    position:fixed;
    float:right;
    right:5px;
    top:5px;
    background-position: top right;
}

#exitMenu{
    position:fixed;
    float:right;
    right:25%;
    top:124px;
    background-position: top right;
    display:block;
    z-index:11;
    }

.cpanel{
    color: yellow;
    font-size: 200%;
    position:fixed;
    max-width: 100%;
    width:100%;
    height:auto;
    list-style: none;

    }


#gas{
    display: table;
    }

#gas2{
    display: table-cell;
	vertical-align: middle;
    }

#fuel{
    color:white;
    }

#vel{
    display: table;
    }

#vel2{
    display: table-cell;
	vertical-align: middle;
    }

#velocidad{
    color:white;
    }

#alt{
    display: table;
    }

#alt2{
    display: table-cell;
	vertical-align: middle;
    }

#altura{
    color:white;
    }

#menu{
    color:white;
    font-size: 200%;
    position:fixed;
    max-width: 100%;
    max-height: 100%;
    height:auto;
    text-align:center;
    list-style: none;
    display:block;
    }

#ren{
    display: table;
    }

#ren2{
    display: table-cell;
	vertical-align: middle;
    }

#renImg{
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 3px solid #ffff00;
}

#ins{
    display: table;
    }

#ins2{
    display: table-cell;
	vertical-align: middle;
    }

#insImg{
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 3px solid #ffff00;
}

/* CSS reservado para el botón de niveles de dificultad */
/*#dif{
    display: table;
    }

#dif2{
    display: table-cell;
	vertical-align: middle;
    }

#difImg{
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 3px solid #ffff00;
}*/

#about{
    display: table;
    }

#about2{
    display: table-cell;
	vertical-align: middle;
    }

#aboutImg{
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 3px solid #ffff00;
    }

#instrucciones{
    display:none;
    }
#instruc{
    display: table;
    }

#instruc2{
    /*font-size:80%;*/
    font-size:1vw;
    color:white;
    display: table-cell;
	vertical-align: middle;

    }

#gaso{
    display: table;
    }

#gaso2{
    font-size:1vw;
    color:white;
    display: table-cell;
	vertical-align: middle;


    }

#velo{
    display: table;
    }

#velo2{
    font-size:1vw;
    color:white;
    display: table-cell;
	vertical-align: middle;
    }

#acerca{
    display:none;
    font-size:200%;
    left: 40%;
    top: 20%;
    position:fixed;
    }

#acer1{
    display: table;
    }

#acer2{
        font-size:1vw;
    color:white;
    display: table-cell;
    vertical-align: middle;
    }
